<h1>My Fakebook</h1>

<section>
  <% unless @friends.empty? %>
    <h2>Friends</h2>
    <%= render partial: 'shared/users_list', locals: { users: @friends} %>
  <% end %>
</section>

<section>
  <% unless @pending.empty? %>
    <h2>Pending friend requests</h2>
    <%= render partial: 'shared/users_list', locals: { users: @pending} %>
  <% end %>
</section>

<section>
  <%= render partial: 'shared/posts', locals { posts: @posts %>
</section>
