<h1>My Fakebook</h1>

<h2>Friends</h2>
<ul>
<% @friend_ids.each do |id| %>
  <% user = User.find(id) %>
  <li><%= link_to user.name, profile_path(user.profile) %></li>
<% end %>
</ul>

<h2>Pending friend requests</h2>
<ul>
<% @pending_friend_ids.each do |id| %>
  <% user = User.find(id) %>
  <li><%= link_to user.name, profile_path(user.profile) %></li>
<% end %>
</ul>