<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Fakebook, <%= @user.name %>.</h1>
    <p>
      Fakebook is a social community, so add some friends and start posting!
      To sign in, <%= link_to 'click here', @url %>.
    </p>
  </body>
</html>

