<h1>My Fakebook</h1>

<h2>Friends</h2>
<ul>
<% current_user.friends.each do |friend| %>
  <li><%= link_to friend.name, profile_path(friend.profile) %></li>
<% end %>
</ul>

<h2>Pending friend requests</h2>
<ul>
<% current_user.pending_friends.each do |friend| %>
  <li><%= link_to friend.name, profile_path(friend.profile) %></li>
<% end %>
</ul>